pkgbase = freemind-git
	pkgdesc = A mind mapper, and a hierarchical editor with strong emphasis on folding
	pkgver = 1.1.0_Beta_2.r1064.cc87d4a4
	pkgrel = 1
	url = https://freemind.sourceforge.io/wiki/
	arch = any
	license = GPL-2.0-or-later
	makedepends = apache-ant
	makedepends = git
	makedepends = java-environment=8
	makedepends = libicns
	depends = java-runtime<=11
	provides = freemind
	conflicts = freemind
	replaces = freemind-unstable
	source = git+https://git.code.sf.net/p/freemind/code
	source = freemind.desktop
	b2sums = SKIP
	b2sums = c1aeebe028d59c6d3c0f0c7ef5f4353ef08d7f7103944305cc3166d65b9ff593fd7c4eeea7f28e43ad887308fa45c334c91b81f75fc1b4f43f5d8dacb610b0b7

pkgname = freemind-git
