[Desktop Entry]
Type=Application
Version=1.5
Name=FreeMind
GenericName=Mind Mapper
Comment=Hierarchical editor with strong emphasis on folding
Icon=freemind
Exec=freemind %U
Terminal=false
MimeType=application/x-freemind;
Categories=Office;Java;
